@CHARSET "UTF-8";

.titulo{
	text-align: center;
	font-family: titulo;
	color: #B8860B;
	font-size: 4.2vw;
	overflow: auto;
}

@font-face {
	font-family: "titulo";
	src: url("fuentes/titulo.ttf");
}

.Georgia{
	font-family: Georgia;
	font-size: 1vw;
}
@font-face {
	font-family: "Georgia";
	src: url("fuentes/Georgia.ttf");
}

header p{
	font-size: 1.2vw;
}

header nav{
	
}